# Node modules
node_modules/

# Environment variables
.env

# Firebase admin secret
serviceAccountKey.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional: IDE/project settings
.vscode/
